# Python
__pycache__/
*.py[cod]
*.so

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv/
env/
venv/

# Tooling
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# VS Code / IDEs
.idea/
.vscode/
*.swp
*.swo